@model IEnumerable<FPT_AppDev.ViewModels.Users_In_Role>
@{
  ViewBag.Title = "Users With Roles";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


      <h2>Users with Roles</h2>

  @if (Request.IsAuthenticated && User.IsInRole("Admin"))
  {
    <p>
      @Html.ActionLink("New user", "Register", "Account")
    </p>
  }

  <div >
    <table class="table ">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Actions</th>
          
        </tr>
      </thead>
      @foreach (var user in Model)
      {
        <tr>
          @if ((user.Role.Contains("Staff") || user.Role.Contains("Trainer")) == true) 
          { 
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>@user.Role</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = user.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id = user.UserId })</td>
          }
        </tr>
      }
    </table>
  </div>

