﻿@model FPT_AppDev.ViewModels.AccountViewModel
@{
  ViewBag.TiTle = "Index";
}

@if (Request.IsAuthenticated && User.IsInRole("Staff"))
{
  <p>
    @Html.ActionLink("Create a new account", "Register", "Account")
  </p>
}
<h3 style="color: dodgerblue">Trainee</h3>
<div>
  <table class="table">
    <thead>
      <tr>
        <th width="10%">UserName</th>
        <th width="20%">Email</th>
        <th width="10%">Role</th>
        <th width="10%">Edit</th>
      </tr>
    </thead>
    @foreach (var user in Model.Trainee)
    {
      <tr>
        <td>@user.UserName </td>
        <td> @user.Email</td>
        <td> @user.RoleName</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = user.UserId })</td>
      </tr>
    }
  </table>
</div>
<h3 style="color: dodgerblue">Trainer</h3>
<div>
  <table class="table">
    <thead>
      <tr>
        <th width="10%">UserName</th>
        <th width="20%">Email</th>
        <th width="10%">Role</th>
        <th width="10%">Edit</th>
      </tr>
    </thead>
    @foreach (var user in Model.Trainer)
    {
      <tr>
        <td>@user.UserName </td>
        <td> @user.Email</td>
        <td> @user.RoleName</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = user.UserId })</td>
      </tr>
    }
  </table>
</div>

