@model IEnumerable<FPT_AppDev.Models.Course>
@{
  ViewBag.Title = "Index";
}

<h2>Courses</h2>


@Html.ActionLink("Create a new Course", "Create")
<hr>

@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{
  <p>
    Find by name: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
  </p>
}

<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th width="20%">Course Name</th>
    <th width="40%">Description</th>
    <th width="10%">Category</th>
    <th width="10%">Topic</th>
    <th width="20%">Actions</th>


  </tr>
  @foreach (var course in Model)
  {
<tr>
  <td>@course.Id</td>
  <td>@course.Name</td>
  <td>@course.Description</td>
  <td>@course.Category.Name</td>
  <td>@course.Topic.Name</td>

  <td>
    @Html.ActionLink("Delete", "Delete", new { id = course.Id }) |
    @Html.ActionLink("Edit", "Edit", new { id = course.Id })
  </td>
</tr>
  }
</table>