@model IEnumerable<FPT_AppDev.ViewModels.Users_In_Role>
@{
  ViewBag.Title = "Users With Roles";
}

<h2>Users with Roles</h2>

@if (Request.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Staff"))
{
  <p class="text-primary m-0 font-weight-bold">
    @Html.ActionLink("New user", "Register", "Account")
    @*<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info float-right"><i class="fas fa-plus"></i>&nbsp; New User</a>*@
  </p>
  <!-- /.box-header -->
}

<div>
  <table class="table">
    <thead>
      <tr>
        <td><b>Username</b></td>
        <td><b>Email</b></td>
        <td><b>Roles</b></td>
        <td><b></b></td>
      </tr>
    </thead>
    @foreach (var user in Model)
    {
      <tr>
        <td>@user.Username</td>
        <td>@user.Email</td>
        <td>@user.Role</td>

        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
          <td>@Html.ActionLink("Edit", "Edit", new { id = user.UserId })</td>
          <td>@Html.ActionLink("Delete", "Delete", new { id = user.UserId })</td>
        }


      </tr>

    }
  </table>
</div>

