@model IEnumerable<FPT_AppDev.Models.Category>

@{
  ViewBag.Title = "Index";
}

<h2>Category</h2>

<p>
  @Html.ActionLink("Create a New Category", "Create")
</p>

<table class="table table-bordered" style="max-width: 80%; margin: 27px 0px 20px 120px;">
  <thead class="thead-light">
    <tr>
      <th width="10%">
        Category Name
      </th>
      <th width="40%">
        Description
      </th>
      <th width="7%">
        Actions
      </th>
    </tr>
  </thead>
  @foreach (var category in Model)
  {
    <tr>
      <td>
        @category.Name
      </td>
      <td class="">
        @category.Description
      </td>
      <td>
        @Html.ActionLink("Edit", "Edit", new { id = category.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = category.Id })
      </td>
    </tr>
  }

</table>
